html,
body {
  position: relative;
  width: 100%;
}

:root {
  --primary-light: #a6f9d6;
  --primary: #5be2a9;
  --primary-dark: #53ce9a;
  --secondary: #1e2145;
  --white: #fff;
  --grey: #e6e6ff;
  --grey-light: #f7f7fb;
  --grey-dark: #6d7098;
  --red: #ff6b6b;

  --font-regular: Roboto, sans-serif;
  --font-mono: Roboto Mono, monospace;
}

html {
  background: var(--secondary);
}

body {
  background: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-regular);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  color: var(--secondary);
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey);
}

h1 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary);
}

p {
  font-size: 16px;
  line-height: 1.8;
}

form {
  background: var(--grey-light);
  padding: 50px 40px;
  margin: 40px 0;
  position: relative;
  border-radius: 8px;
}

form:before {
  position: absolute;
  content: "form example";
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: 35px;
  left: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #dfdff3;
}

code {
  padding: 4px 8px;
  font-family: var(--font-mono);
  background: #ebebfd;
  color: var(--red);
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
}

pre {
  background: var(--secondary);
  padding: 20px;
  border-radius: 8px;
  line-height: 1.8;
  overflow: scroll;
  font-size: 14px;
  color: #fff;
  font-family: Roboto Mono, monospace;
}
